{% extends "base.html" %}

{% block content %}
<div style="height:100vh">
  <h1 class="title">
    Flask based integration editor
  </h1>
  <h2 class="subtitle">
    Create and make your integration code here.
  </h2>

  <div class="is-widescreen">
    <div class="columns">
      <aside class="menu column has-text-left">
        <p class="menu-label">
          My Works
        </p>
        <ul id="tabs" class="menu-list">
          <li id="newScript"><a style="color:black">New Script</a></li>
          <li id="allScript"><a style="color:black">All Scripts</a></li>
          <li id="scriptGroups"><a style="color:black">Script Groups</a></li>
        </ul>
      </aside>
      <div class="column is-four-fifths">
        <div id="tab-view-holder" class="is-large">
          <div id="newScript">
            <form method="POST" action="/editor">        
              <div class="field">
                <div class="control">
                  <input class="input is-large" name="name" placeholder="Script Name" autofocus >
                </div>
              </div>
            
              <div class="field">
                <div class="control">
                  <input class="input is-large" name="description" placeholder="Description">
                </div>
              </div>

              <div class="field">
                <div class="control">
                    <textarea name="scriptarea" class="textarea" placeholder="Just paste your python script here."></textarea>
                </div>
              </div>
              <button class="button is-block is-info is-large is-fullwidth">Upload Script</button>
            </form>
          </div>
          <div id="allScript">
            Group
          </div>
        </div>
      </div>
    </div>
  </div> 
<div>

<script>
  var tabs = document.getElementById("tabs")
  var tabView = document.getElementById("tab-view-holder")

  showOnlyTheViewByIndex(0)
  Array.prototype.forEach.call(tabs.children,(tab,i)=>{
    tab.onclick = function(){
      showTabViewById(tab.id)
    };
  })

  /***********************************************************************/
  /******************** Utility functions STARTS here ********************/
  /***********************************************************************/

  function showOnlyTheViewByIndex(index){
    // Hide all the views first
    Array.prototype.forEach.call(tabView.children, (e,i)=>{
      e.classList.add("is-hidden");
    })
    // Now its the time to show only the view corresponding to the selected index
    tabView.children[index].classList.toggle("is-hidden");
  }

  function showTabViewById(id){
    // Hide all the views first
    Array.prototype.forEach.call(tabView.children, (e,i)=>{
      e.classList.add("is-hidden");
    })

    // find the corresponding tabView with the provided id
    var currentView = [...tabView.children].find((tv)=>tv.id == id)
    // Now toggle the "is-hidden" class for the currentView
    if(currentView == null){
      console.log("Hey, there is no dom element present with id '"+ id + "'")
    }else{
      currentView.classList.toggle("is-hidden");
    }
  }

  /***********************************************************************/
  /********************* Utility functions ENDS here *********************/
  /***********************************************************************/
</script>

{% endblock %}