{% extends "base.html" %}

{% block content %}
<style>
  .itemlist {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
  }
  .itemlist::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background: #1f83f2;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(255, 255, 255, 0.25), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
  }
  .itemlist:hover::before {
    width: 100%;
  }
  .itemlist .rank {
    position: relative;
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  .itemlist .rank::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #2f363e;
    border-radius: 30px;
    transform: scale(0);
    transition: 0.5s;
  }
  .itemlist .rank span {
    position: relative;
    font-weight: 600;
    font-size: 1em;
    color: #fff;
    transition: all 0.5s;
  }
  .itemlist:hover .rank::before {
    transform: scale(1);
  }
  .itemlist .creator {
    position: relative;
    line-height: 1.15em;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .itemlist .creator h4 {
    font-weight: 800;
    color: #fff;
    transition: 0.5s;
  }
  .itemlist .creator p {
    font-weight: 400;
    color: #000;
    font-size: 0.85em;
    transition: 0.5s;
  }
  .itemlist:hover .creator p {
    color: #fff;
  }

  .accordion:hover .accordion-body{
    display: block;
  }

  .accordion-body {
    padding: 0.01em 16px;
    display: none;
  }
  
</style>

<div style="min-height:100vh">
  <h1 class="title">
    Flask based integration editor
  </h1>
  <h2 class="subtitle">
    Create and make your integration code here.
  </h2>

  <div class="is-widescreen">
    <div class="columns">
      <aside class="menu column has-text-left">
        <p class="menu-label">
          My NeoWorks
        </p>
        <ul id="tabs" class="menu-list">
          <li id="newScripts"><a style="color:black">NeoScripts</a></li>
          <li id="neoWorks"><a style="color:black">NeoWorks</a></li>
        </ul>
      </aside>
      <div class="column is-four-fifths">
        <div id="tab-view-holder" class="is-large">
          <div id="newScripts">
            My NeoScripts
            <section class="has-text-left">
            </section>
            <div class="is-fab has-content-centered">
              <button class="button is-danger is-rounded" onClick="toggleModal()">
                <span class="icon">
                  <i class="fas fa-pen-fancy"></i>
                </span>
                <span>New NeoScript</span>
              </button>
              <div class="modal">
                <div class="modal-background" onClick="toggleModal()"></div>
                <div class="modal-content">
                    <div class="box">
                      <form method="POST" action="/editor">
                        <div class="field">
                          <div class="control">
                            <input class="input is-large" name="name" placeholder="Script Name" autofocus required>
                          </div>
                        </div>
          
                        <div class="field">
                          <div class="control">
                            <input class="input is-large" name="description" placeholder="Description" required>
                          </div>
                        </div>
          
                        <div class="field">
                          <div class="control">
                              <textarea name="scriptarea" class="textarea" placeholder="Just paste your python script here." minlength="20" required></textarea>
                          </div>
                        </div>
          
                        <button class="button is-block is-info is-large is-fullwidth">Upload Script</button>
                      </form>

                    </div>
                </div>       
              </div>
            </div>
          </div>
          <div id="neoWorks">
            My NeoWorks
            <section class="has-text-left">
            </section>
            <div class="is-fab has-content-centered">
              <button class="button is-danger is-rounded" onClick="toggleModal()">
                <span class="icon">
                  <i class="fas fa-pen-fancy"></i>
                </span>
                <span>New NeoWork</span>
              </button>
              <div class="modal">
                <div class="modal-background" onClick="toggleModal()"></div>
                <div class="modal-content">
                    <div class="box">
                      <form method="POST" action="/create-new-work">
                        <div class="field">
                          <div class="control">
                            <input class="input is-large" name="name" placeholder="Work Name" autofocus required>
                          </div>
                        </div>
          
                        <div class="field">
                          <div class="control">
                            <input class="input is-large" name="description" placeholder="Description" required>
                          </div>
                        </div>
          
                        <button class="button is-block is-info is-large is-fullwidth">Create NeoWork</button>
                      </form>
                    </div>
                </div>       
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
<div>

<script>

  /***********************************************************************/
  /***************** Manage Tabs and TabView STARTS here *****************/
  /***********************************************************************/

  var tabs = document.getElementById("tabs")
  var tabView = document.getElementById("tab-view-holder")
  let currentView = null

  showOnlyTheViewByIndex(0)
  Array.prototype.forEach.call(tabs.children,(tab,i)=>{
    tab.onclick = function(){
      showTabViewById(tab.id)
      switch(tab.id){
        case "newScripts":
          if (scriptList.length == 0)
            getScriptsList();
          break;
        case "neoWorks":
          if (myWorks.length == 0)
            getMyWorks();
          break;
      }
    };
  })

  // fetch all store all the scripts list in frontend
  // don't fetch again if it done once
  var scriptList = []

  function showSavedScripts(){
    section = currentView.getElementsByTagName('section')[0]

    // Add each and every fetched scripts into the section
    scriptList.forEach((s,i)=>{  
      var item = document.createElement("div");

      var date = new Date(s.date.$date)
      item.innerHTML = `<div class="itemlist">
        <div class="rank"><span>${i+1}</span></div>
        <div class="creator">
          <div>
            <h4>${s.name}</h4>
            <p>${s.description}</p>
          </div>
          <p class="date">${date.toLocaleString().replace(',','')}</p>
        </div>
      </div>`

      section.appendChild(item)
    })    
  }

  var myWorks = []

  function showMyNeoWorks(){
    section = currentView.getElementsByTagName('section')[0]

    // Add each and every fetched scripts into the section
    myWorks.forEach((s,i)=>{  
      var item = document.createElement("div");

      console.log('what is this',s.neoScriptsList)
      var createdAt = new Date(s.creationDate.$date)
      item.innerHTML = `
      <div class="accordion">
        <div class="accordion-title">
          <div class="itemlist">
            <div class="rank"><span>${i+1}</span></div>
            <div class="creator">
              <div>
                <h4>${s.name}</h4>
                <p>${s.description}</p>
              </div>
              <p class="date">${createdAt.toLocaleString().replace(',','')}</p>
            </div>
          </div>
        </div>
        <div class="accordion-body">
          ${s.neoScriptsList.length} of Scripts
        </div>
      </div>`

      section.appendChild(item)
    })    
  }

  function toggleModal(){
    var modal = currentView.getElementsByClassName("modal")[0];
    modal.classList.toggle("is-active");
  }


  /***********************************************************************/
  /****************** Manage Tabs and TabView ENDS here ******************/
  /***********************************************************************/


  /***********************************************************************/
  /******************** Utility functions STARTS here ********************/
  /***********************************************************************/

  function showOnlyTheViewByIndex(index){
    // Hide all the views first
    Array.prototype.forEach.call(tabView.children, (e,i)=>{
      e.classList.add("is-hidden");
    })
    // Now its the time to show only the view corresponding to the selected index
    tabView.children[index].classList.toggle("is-hidden");
  }

  function showTabViewById(id){
    // Hide all the views first
    Array.prototype.forEach.call(tabView.children, (e,i)=>{
      e.classList.add("is-hidden");
    })

    // find the corresponding tabView with the provided id
    currentView = [...tabView.children].find((tv)=>tv.id == id)
    // Now toggle the "is-hidden" class for the currentView
    if(currentView == null){
      console.error("Hey, there is no dom element present with id '"+ id + "'")
    }else{
      currentView.classList.toggle("is-hidden");
    }
  }

  async function getScriptsList(){
    scriptList = await fetch('/list')
    .then(response => response.json())
    .then(data=>data.myscripts);

    showSavedScripts();
  }

  async function getMyWorks(){
    myWorks = await fetch('/my-neoworks')
    .then(response => response.json())
    .then(data=>data.myworks);

    showMyNeoWorks();
  }
  /***********************************************************************/
  /********************* Utility functions ENDS here *********************/
  /***********************************************************************/
</script>

{% endblock %}