{% extends "base.html" %}

{% block content %}
<form method="POST" action="/editor">
  <h1 class="title">
    Flask based integration editor
  </h1>
  <h2 class="subtitle">
    Create and make your integration code here.
  </h2>
  
  <div class="field">
    <div class="control">
      <input class="input is-large" name="name" placeholder="Your Script Name" autofocus >
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input is-large" name="description" placeholder="Your Description">
    </div>
  </div>
  
  <div class="field">
    <div class="control">
        <textarea name="scriptarea" class="textarea" placeholder="Just paste your python script here."></textarea>
    </div>
  </div>

  <button class="button is-block is-info is-large is-fullwidth">Upload Script</button>

</form>

{% endblock %}