{% extends "base.html" %}

{% block content %}

<div style="min-height:100vh">
  <h1 class="title">
    NeoWork editor
  </h1>
  <h2 class="subtitle">
    Manage your NeoWork here
  </h2>

  <div class="is-widescreen">
    <div class="columns">
      <aside class="menu column has-text-left">
        <p class="menu-label">
          My Scripts
        </p>
        <ul id="tabs" class="menu-list">
            {% with neoScript = getMyScripts() %}
              {% if neoScript %}
                {% for script in neoScript.myscripts %} 
                    <li id={{script._id['$oid']}} draggable="true" ondragstart="drag(event)">{{script.name}}</li>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </ul>
      </aside>
      <div class="column is-four-fifths">
        <div id="tab-view-holder" class="is-large">
          This is the editor view for your neoworks
          <p>{{work_id}}</p>
          <div id="work_editor" style='background-color:red; min-height:60vh; padding:20px' ondrop="drop(event)" ondragover="onDragOver(event)" >
            <style>
              #work_editor li{
                margin:9px;
              }
            </style>
          </div>
        </div>
      </div>
    </div>
  </div> 
<div>

<script>
  function onDragOver(ev) {
    // "ev.toElement", "ev.target" and "ev.srcElement" return the same dom element
    // for the time being we are using  ev.target

    // only allow to drop in "work_editor"
    if ("work_editor" === ev.target.id){
      ev.preventDefault();
    }
  }
  
  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);

    event
    .currentTarget
    .style
    .backgroundColor = 'yellow';

    event.currentTarget.style.color = 'black';
  }
  
  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");

    ev.target.appendChild(document.getElementById(data).cloneNode(true));
  }
</script>

{% endblock %}