{% extends "base.html" %}

{% block content %}

<div style="min-height:100vh">
  <h1 class="title">
    NeoWork editor
  </h1>
  <h2 class="subtitle">
    Manage your NeoWork here
  </h2>

  <div class="is-widescreen">
    <div class="columns">
      <aside class="menu column has-text-left">
        <p class="menu-label">
          My Scripts
        </p>
        <ul id="tabs" class="menu-list">
            {% with neoScript = getMyScripts() %}
              {% if neoScript %}
                {% for script in neoScript.myscripts %} 
                    <li id={{script._id['$oid']}} draggable="true" ondragstart="drag(event)">{{script.name}}</li>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </ul>
      </aside>
      <div class="column is-four-fifths">
        <div id="tab-view-holder" class="is-large">
          This is the editor view for your neoworks
          <p>{{work.name}}</p>
          <style>
            #work_editor li{
              margin:9px;
            }
          </style>
          <div id="work_editor" style='background-color:red; min-height:60vh; padding:20px' ondrop="drop(event)" ondragover="onDragOver(event)" >
            {% with neoScript = getMyScripts() %}
              {% for scriptId in work.neoScriptsList%}
                {% with scriptName = getScriptById(scriptId)%}
                  <li id={{scriptId}} draggable="true" ondragstart="drag(event)">{{scriptName}}</li>
                {% endwith %}
              {% endfor %}
            {% endwith %}
          </div>
          <button class="button is-danger is-rounded" onClick="saveWork('{{work_id}}')">
            Save
          </button>
        </div>
      </div>
    </div>
  </div> 
<div>

<script>
  function onDragOver(ev) {
    // "ev.toElement", "ev.target" and "ev.srcElement" return the same dom element
    // for the time being we are using  ev.target

    // only allow to drop in "work_editor"
    if ("work_editor" === ev.target.id){
      ev.preventDefault();
    }
  }
  
  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);

    event
    .currentTarget
    .style
    .backgroundColor = 'yellow';

    event.currentTarget.style.color = 'black';
  }
  
  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");

    ev.target.appendChild(document.getElementById(data).cloneNode(true));
  }

  const saveWork = (workId) =>{
    var workEditor = document.getElementById("work_editor")
    
    // Gather together all the ids of the dragged elements
    var ids = [...workEditor.children].reduce((prev,child,index)=>{
      // prev in index 1 will be the first object in the array
      // so, if index equals 1, then return a new array consist of the ids from both 'prev' and 'child'
      if(index === 1){
        return [prev.id,child.id]
      }
      prev.push(child.id)
      
      return prev
    })

    // POST request using fetch()
    fetch("/neoworks/"+workId, {
        // Adding method type
        method: "PUT",
        // Adding body or contents to send
        body: JSON.stringify({
            neoScriptIds : ids
        }),
        // Adding headers to the request
        headers: {
            "Content-type": "application/json; charset=UTF-8"
        }
    })
    // Converting to JSON
    .then(response => {
      var d = response.json()
      return d
    })
    // Displaying results to console
    .then(json => {});

  }

</script>

{% endblock %}